_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.venv/
__pycache__/
*.pyc
.env

# macOS system files
.DS_Store
~/
com.asbjborg.obsidian-to-blog-sync.plist

# Cursor workarounds for github
commit_message.txt
